    body{
       font-family: arial, Helvetica, sans-serif;
       font-size: 15px;
       line-height:1.5;
       padding:0;
       margin:0;
       background-color:#f4f4f4;
       }

    /* Global */
   .container{
       width:80%;
       margin:auto;
       overflow:hidden;
       }

    ul{
      margin:0;
      padding:0;
      }


   /* header **/
    header{
       background:#35424a;
       color:#ffffff;
       padding-top:30px;
       min-height:50px;
       border-bottom:#e8491d 3px solid;
       }

    header a{
      color:#ffffff;
      text-decoration:none;
      font-size:16px;
      }

  
    header li{
      display:inline;
      padding: 0 20px 0 20px;
      }

     header #Name{
         float:left;
        }

    header #Name h1{
        margin:0;
        }

    header nav{
        float:right;
        margin-top:10px;
        }

    header .highlight, header .current a{
        color:#e8491d;
        font-weight:bold;
        }

    header a:hover{
        color:#cccccc;
        font-weight:bold;
        }


    /* main */
    #main{
        background-image: url("/img/personal_writing_background.jpg");
        border-style: solid;
        }

   /* #main span{
        background-color:;
        color: ;
    }*/

    .pdf_block{
        text-align: center;
        }
    .pdf_block iframe{
        width: 900px;
    }

    #paper {
        margin-top:20px;
        }

    #paper .paper{
        float:left;
        text-align:center;
        padding:10px;
        }


    footer{
        padding:20px;
        color:#ffffff;
        background:#e8491d;
        text-align:center;
        }
