body{
       font-family: arial, Helvetica, sans-serif;
       font-size: 15px;
       line-height:1.5;
       padding:0;
       margin:0;
       background-color:#f4f4f4;
   }

    /* Global */
   .container{
       width:80%;
       margin:auto;
       overflow:hidden;
      }

   ul{
      margin:0;
      padding:0;
     }

    .button_1{
        height:38px;
        background:#e8491d;
        border:0;
        padding-left:20px;
        padding-right:20px;
        color:#ffffff;
    }
 


   /* header **/
   header{
       background:#35424a;
       color:#ffffff;
       padding-top:30px;
       min-height:50px;
       border-bottom:#e8491d 3px solid;
      }

  header a{
      color:#ffffff;
      text-decoration:none;
      font-size:16px;
     }

  
  header li{
      display:inline;
      padding: 0 20px 0 20px;
     }

     header #Name{
         float:left;
        }

    header #Name h1{
        margin:0;
        }

    header nav{
        float:right;
        margin-top:10px;
        }

    header .highlight, header .current a{
        color:#e8491d;
        font-weight:bold;
        }

    header a:hover{
        color:#cccccc;
        font-weight:bold;
        }

    /* showcase */
    #showcase{
        min-height:640px;
        background:url('../img/showcase.png') no-repeat;
        background-position: center;
        background-size:1400px 800px;
        text-align:center;
        color:#ffffff;
        margin-bottom: -20px;
        }

    #showcase h1{
        margin-top:500px;
        font-size:50px;
        margin-bottom:10px;
        color:#000000;
       }

    #showcase p{
        font-size:20px;
        font-family: fantasy;
        font-style: italic;
        color:#000000;
        }

    /* quote */
    #quote{
        height: 0px;
    }

    /* about */
    #about{
        padding:15px;
        color:#ffffff;
        background:#35424a;
     }
    /*contacts */
    #contacts{
        padding:15px;
        color:#ffffff;
        background:#35424a;
     }
    /* main */
    #main{
        background-image: url("/img/work_background.jpg");
        height: 1080px;
        border-style: solid;
    }
    #main h1{
        font-size: 32px;
    }


    #main span{
        background-color: #000000;
        color: white;
    }

    .pdf_block{
        text-align: center;
    }

    /* Boxes*/
    #boxesL{
        margin-top:20px;
        }

    #boxes .box{
        float:left;
        text-align: center;
        width:30%;
        padding:10px;
        }

    #boxes .box img{
        width:90px;
        }

    #paper {
        margin-top:20px;
        }

    #paper .paper{
        float:left;
        text-align:center;
        padding:10px;
        }


    footer{
        padding:20px;
        color:#ffffff;
        background:#e8491d;
        text-align:center;
    }
    
