   body{
       font-family: arial, Helvetica, sans-serif;
       font-size: 15px;
       line-height:1.5;
       padding:0;
       margin:0;
       background-color:#f4f4f4;
   }

    /* Global */
   .container{
       width:80%;
       margin:auto;
       overflow:hidden;
      }

   ul{
      margin:0;
      padding:0;
     }

    .button_1{
        height:38px;
        background:#e8491d;
        border:0;
        padding-left:20px;
        padding-right:20px;
        color:#ffffff;
    }
 


   /* header **/
   header{
       background:#35424a;
       color:#ffffff;
       paddding-top:30px;
       min-height:50px;
       border-bottom:#e8491d 3px solid;
      }

  header a{
      color:#ffffff;
      text-decoration:none;
      text-transfrom: uppercase;
      font-size:16px;
     }

  
  header li{
      float:left;
      display:inline;
      padding: 0 20px 0 20px;
     }

     header #Name{
         float:left;
        }

    header #Name h1{
        margin:0;
        }

    header nav{
        float:right;
        margin-top:10px;
        }

    header .highlight, header .current a{
        color:#e8491d;
        font-weight:bold;
        }

    header a:hover{
        color:#cccccc;
        font-weight:bold;
        }

    /* showcase */
    #showcase{
        min-height:640px;
        background:url('../img/showcase.png') no-repeat;
        background-position: center;
        background-size:1900px 800px;
        text-align:center;
        color:#ffffff
        }

    #showcase h1{
        margin-top:400px;
        font-size:55px;
        margin-bottom:10px;
        color:#000000;
       }

    #showcase p{
        font-size:20px;
        color:#000000;
        }

        /* about */
    #about{
        padding:15px;
        color:#ffffff;
        background:#35424a;
     }
       /*NewLetter*/
    #newsletter{
        padding:15px;
        color:#ffffff;
        background:#35424a;
       }

    #newletter h1{
        float:left;
       }

    #newletter form{
        float:right;
        margin-top:15px;
       }

    #newletter input[type="email"]{
        padding:4px;
        height:25px;
        width:250px;
        }

    /* Boxes*/
    #boxesL{
        margin-top:20px;
        }

    #boxes .box{
        float:left;
        text-align: center;
        width:30%;
        padding:10px;
        }

    #boxes .box img{
        width:90px;
        }

    #paper {
        margin-top:20px;
        }

    #paper .paper{
        float:left;
        text-align:center;
        padding:10px;
        }


    footer{
        padding:20px;
        margin-top:20px;
        color:#ffffff;
        background:#e8491d;
        text-align:center;
    }
    


       





    






    
 






